@charset "utf-8";

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mw: 600px;
  font-family: "S-CoreDream-3Light";
  background-image: url(/public/image/index_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

.mw {
  border: 1px solid red;
  max-width: var(--mw);
  margin: auto;
  padding: 1rem;
  /* background-image: url(/public/image/index_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.logo {
  text-align: center;
  font-family: "Yellowtail", cursive;
  font-size: 3rem;
}

.add_list {
  text-align: end;
  font-size: 1.5rem;
  /* font-weight: light; */
}

.sec {
  border: 1px solid blue;
  margin: 1rem auto 3rem;
}

.shelf {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid palevioletred; */
  position: relative;
  padding-top: 2rem;
}
.shelf::after {
  content: "";
  width: 100%;
  height: 0.5rem;
  background-color: #9a9a9a;
  position: absolute;
  bottom: 0;
}

.album {
  /* border: 1px solid tomato; */
  padding: 0 0.5rem;
  text-align: center;
  position: relative;
}
.album > a {
  border: 1px solid yellow;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.album:hover .img_con > img {
  transform: scale(1.1);
}

.img_con {
  min-width: 80px;
  overflow: hidden;
}

.img_con > img {
  width: 100%;
  transition: 0.3s;
}

.more {
  display: block;
  margin: 0 auto;
  background-color: #efefef;
  border: 1px solid #4f4f4f;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #000000;
  font-family: "S-CoreDream-3Light";
  cursor: pointer;
  transition: 0.3s;
}
.more:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px 1px white;
}
